spring:
  r2dbc:
    url: r2dbc:h2:mem:///codb
    username: sa
    password: 
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
