server:
  port: 8088

security:
  resource-server:
    enabled: false

spring:
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: his-client
            client-secret: iZlVoupO5sBM2FB1K0haqU6mOYVlX3hT # Replace with your Keycloak client secret
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://keycloak:8080/realms/master
            user-name-attribute: preferred_username

eureka:
  client:
    service-url:
      defaultZone: http://his-service-registry:8761/eureka/
  instance:
    prefer-ip-address: true

springdoc:
  api-docs:
    path: /api-docs
